{% extends 'base.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="center">
        <h3>Kwadraat of Wortel Berekenen</h3>
        <br>
        <form action="/result_kwadraat">
            <input type="number" step="0.0001" name="number1" placeholder="Nummer">
            <br>
            <br>
            <button class="btn btn-secondary" type="submit" name="kwadraat">Kwadraat</button>
            <button class="btn btn-secondary" type="submit" name="wortel">Wortel</button>
        
        </form>
        </div>
        
        <style>
          .center {
            margin: auto;
            width: 60%;
            border: 3px solid #a5addb;
            padding: 10px;
          }
        </style>

        {% endblock %}