{% extends 'base.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relativiteitstheorie</title>
</head>
<body>

    <div class="center">
        <h3>E = MC&#178</h3><p>Energie(E) = Massa(M) x Lichtsnelheid(C)&#178</p>
        <br>
        
        <form action="/result_relativiteitstheorie">
            <input type="number" step="0.0001" name="number1" placeholder="Kilogram">
            <br>
            <br>
            <button class="btn btn-secondary" type="submit" name="relativiteitstheorie">Berekenen</button>
        </form>
        </div>
        
        <style>
          .center {
            margin: auto;
            width: 60%;
            border: 3px solid #a5addb;
            padding: 10px;
          }
        </style>

        {% endblock %}